In [98]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing

In [99]:
data = pd.read_csv('hotel_bookings.csv')

In [100]:
data['children'] = data['children'].fillna(0)

In [101]:
data['hotel'] = data['hotel'].map({'Resort Hotel':0, 'City Hotel':1})

data['arrival_date_month'] = data['arrival_date_month'].map({'January':1, 'February': 2, 'March':3, 'April':4, 'May':5, 'June':6, 'July':7,
                                                            'August':8, 'September':9, 'October':10, 'November':11, 'December':12})

In [102]:
def family(data):
    if ((data['adults'] > 0) & (data['children'] > 0)):
        val = 1
    elif ((data['adults'] > 0) & (data['babies'] > 0)):
        val = 1
    else:
        val = 0
    return val

In [103]:
data["is_family"] = data.apply(family, axis = 1)
data["total_customer"] = data["adults"] + data["children"] + data["babies"]

In [104]:
data = data.drop(columns = ['adults', 'babies', 'children', 'reservation_status_date', 'reservation_status', 'arrival_date_year', 'arrival_date_week_number', 'arrival_date_day_of_month'])

In [105]:
data.head()

,hotel,is_canceled,lead_time,arrival_date_month,stays_in_weekend_nights,stays_in_week_nights,meal,country,market_segment,distribution_channel,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,is_family,total_customer
0,0,0,342,7,0,0,BB,PRT,Direct,Direct,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,0,2.0
1,0,0,737,7,0,0,BB,PRT,Direct,Direct,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,0,2.0
2,0,0,7,7,0,1,BB,GBR,Direct,Direct,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,0,1.0
3,0,0,13,7,0,1,BB,GBR,Corporate,Corporate,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,0,1.0
4,0,0,14,7,0,2,BB,GBR,Online TA,TA/TO,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,0,2.0

In [106]:
data.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_month                     0
stays_in_weekend_nights                0
stays_in_week_nights                   0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
is_family                              0
total_customer                         0
dtype: int64

In [107]:
#drop null rows for column "Country"
data.dropna(subset=['country'],inplace=True)

In [108]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118902 entries, 0 to 119389
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           118902 non-null  int64
 1   is_canceled                     118902 non-null  int64
 2   lead_time                       118902 non-null  int64
 3   arrival_date_month              118902 non-null  int64
 4   stays_in_weekend_nights         118902 non-null  int64
 5   stays_in_week_nights            118902 non-null  int64
 6   meal                            118902 non-null  object
 7   country                         118902 non-null  object
 8   market_segment                  118902 non-null  object
 9   distribution_channel            118902 non-null  object
 10  is_repeated_guest               118902 non-null  int64
 11  previous_cancellations          118902 non-null  int64
 12  previous_bookings_not_canceled  118902 non-null  int64
 13  reserved_room_type              118902 non-null  object
 14  assigned_room_type              118902 non-null  object
 15  booking_changes                 118902 non-null  int64
 16  deposit_type                    118902 non-null  object
 17  agent                           102896 non-null  float64
 18  company                         6623 non-null    float64
 19  days_in_waiting_list            118902 non-null  int64
 20  customer_type                   118902 non-null  object
 21  adr                             118902 non-null  float64
 22  required_car_parking_spaces     118902 non-null  int64
 23  total_of_special_requests       118902 non-null  int64
 24  is_family                       118902 non-null  int64
 25  total_customer                  118902 non-null  float64
dtypes: float64(4), int64(14), object(8)
memory usage: 24.5+ MB

In [109]:
#columns to encode

# to_encode = ["deposit_type", "customer_type", "hotel" , "meal", 'country','market_segment',"distribution_channel",'assigned_room_type', 'reserved_room_type', "arrival_date_month"]
to_encode = ["meal", "country", "market_segment", "distribution_channel", "reserved_room_type", "assigned_room_type", "deposit_type", "customer_type"]

for column in data.columns:
    if column in to_encode:
        le = preprocessing.LabelEncoder()
        le.fit(data[column].astype(str))
        data[column]=le.transform(data[column])
        keys = le.classes_
        values = le.transform(le.classes_)
        dictionary = dict(zip(keys, values))
        print(dictionary)

{'BB': 0, 'FB': 1, 'HB': 2, 'SC': 3, 'Undefined': 4}
{'ABW': 0, 'AGO': 1, 'AIA': 2, 'ALB': 3, 'AND': 4, 'ARE': 5, 'ARG': 6, 'ARM': 7, 'ASM': 8, 'ATA': 9, 'ATF': 10, 'AUS': 11, 'AUT': 12, 'AZE': 13, 'BDI': 14, 'BEL': 15, 'BEN': 16, 'BFA': 17, 'BGD': 18, 'BGR': 19, 'BHR': 20, 'BHS': 21, 'BIH': 22, 'BLR': 23, 'BOL': 24, 'BRA': 25, 'BRB': 26, 'BWA': 27, 'CAF': 28, 'CHE': 29, 'CHL': 30, 'CHN': 31, 'CIV': 32, 'CMR': 33, 'CN': 34, 'COL': 35, 'COM': 36, 'CPV': 37, 'CRI': 38, 'CUB': 39, 'CYM': 40, 'CYP': 41, 'CZE': 42, 'DEU': 43, 'DJI': 44, 'DMA': 45, 'DNK': 46, 'DOM': 47, 'DZA': 48, 'ECU': 49, 'EGY': 50, 'ESP': 51, 'EST': 52, 'ETH': 53, 'FIN': 54, 'FJI': 55, 'FRA': 56, 'FRO': 57, 'GAB': 58, 'GBR': 59, 'GEO': 60, 'GGY': 61, 'GHA': 62, 'GIB': 63, 'GLP': 64, 'GNB': 65, 'GRC': 66, 'GTM': 67, 'GUY': 68, 'HKG': 69, 'HND': 70, 'HRV': 71, 'HUN': 72, 'IDN': 73, 'IMN': 74, 'IND': 75, 'IRL': 76, 'IRN': 77, 'IRQ': 78, 'ISL': 79, 'ISR': 80, 'ITA': 81, 'JAM': 82, 'JEY': 83, 'JOR': 84, 'JPN': 85, 'KAZ': 86, 'KEN': 87, 'KHM': 88, 'KIR': 89, 'KNA': 90, 'KOR': 91, 'KWT': 92, 'LAO': 93, 'LBN': 94, 'LBY': 95, 'LCA': 96, 'LIE': 97, 'LKA': 98, 'LTU': 99, 'LUX': 100, 'LVA': 101, 'MAC': 102, 'MAR': 103, 'MCO': 104, 'MDG': 105, 'MDV': 106, 'MEX': 107, 'MKD': 108, 'MLI': 109, 'MLT': 110, 'MMR': 111, 'MNE': 112, 'MOZ': 113, 'MRT': 114, 'MUS': 115, 'MWI': 116, 'MYS': 117, 'MYT': 118, 'NAM': 119, 'NCL': 120, 'NGA': 121, 'NIC': 122, 'NLD': 123, 'NOR': 124, 'NPL': 125, 'NZL': 126, 'OMN': 127, 'PAK': 128, 'PAN': 129, 'PER': 130, 'PHL': 131, 'PLW': 132, 'POL': 133, 'PRI': 134, 'PRT': 135, 'PRY': 136, 'PYF': 137, 'QAT': 138, 'ROU': 139, 'RUS': 140, 'RWA': 141, 'SAU': 142, 'SDN': 143, 'SEN': 144, 'SGP': 145, 'SLE': 146, 'SLV': 147, 'SMR': 148, 'SRB': 149, 'STP': 150, 'SUR': 151, 'SVK': 152, 'SVN': 153, 'SWE': 154, 'SYC': 155, 'SYR': 156, 'TGO': 157, 'THA': 158, 'TJK': 159, 'TMP': 160, 'TUN': 161, 'TUR': 162, 'TWN': 163, 'TZA': 164, 'UGA': 165, 'UKR': 166, 'UMI': 167, 'URY': 168, 'USA': 169, 'UZB': 170, 'VEN': 171, 'VGB': 172, 'VNM': 173, 'ZAF': 174, 'ZMB': 175, 'ZWE': 176}
{'Aviation': 0, 'Complementary': 1, 'Corporate': 2, 'Direct': 3, 'Groups': 4, 'Offline TA/TO': 5, 'Online TA': 6, 'Undefined': 7}
{'Corporate': 0, 'Direct': 1, 'GDS': 2, 'TA/TO': 3, 'Undefined': 4}
{'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4, 'F': 5, 'G': 6, 'H': 7, 'L': 8, 'P': 9}
{'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4, 'F': 5, 'G': 6, 'H': 7, 'I': 8, 'K': 9, 'L': 10, 'P': 11}
{'No Deposit': 0, 'Non Refund': 1, 'Refundable': 2}
{'Contract': 0, 'Group': 1, 'Transient': 2, 'Transient-Party': 3}

In [110]:
data.head()

,hotel,is_canceled,lead_time,arrival_date_month,stays_in_weekend_nights,stays_in_week_nights,meal,country,market_segment,distribution_channel,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,is_family,total_customer
0,0,0,342,7,0,0,0,135,3,1,...,0,NaN,NaN,0,2,0.0,0,0,0,2.0
1,0,0,737,7,0,0,0,135,3,1,...,0,NaN,NaN,0,2,0.0,0,0,0,2.0
2,0,0,7,7,0,1,0,59,3,1,...,0,NaN,NaN,0,2,75.0,0,0,0,1.0
3,0,0,13,7,0,1,0,59,2,0,...,0,304.0,NaN,0,2,75.0,0,0,0,1.0
4,0,0,14,7,0,2,0,59,6,3,...,0,240.0,NaN,0,2,98.0,0,1,0,2.0

In [111]:
#encoding both agent and company code

data['agent_encoded'] = data['agent'].notnull()
data['company_encoded'] = data['company'].notnull()
data["agent_encoded"] = data["agent_encoded"].astype(int)
data["company_encoded"] = data["company_encoded"].astype(int)
data=data.drop(['agent','company'],axis = 1)

In [112]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118902 entries, 0 to 119389
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           118902 non-null  int64
 1   is_canceled                     118902 non-null  int64
 2   lead_time                       118902 non-null  int64
 3   arrival_date_month              118902 non-null  int64
 4   stays_in_weekend_nights         118902 non-null  int64
 5   stays_in_week_nights            118902 non-null  int64
 6   meal                            118902 non-null  int32
 7   country                         118902 non-null  int32
 8   market_segment                  118902 non-null  int32
 9   distribution_channel            118902 non-null  int32
 10  is_repeated_guest               118902 non-null  int64
 11  previous_cancellations          118902 non-null  int64
 12  previous_bookings_not_canceled  118902 non-null  int64
 13  reserved_room_type              118902 non-null  int32
 14  assigned_room_type              118902 non-null  int32
 15  booking_changes                 118902 non-null  int64
 16  deposit_type                    118902 non-null  int32
 17  days_in_waiting_list            118902 non-null  int64
 18  customer_type                   118902 non-null  int32
 19  adr                             118902 non-null  float64
 20  required_car_parking_spaces     118902 non-null  int64
 21  total_of_special_requests       118902 non-null  int64
 22  is_family                       118902 non-null  int64
 23  total_customer                  118902 non-null  float64
 24  agent_encoded                   118902 non-null  int32
 25  company_encoded                 118902 non-null  int32
dtypes: float64(2), int32(10), int64(14)
memory usage: 20.0 MB

In [113]:
# features
X = data.drop(["is_canceled"], axis=1)

# target
y = data['is_canceled']

In [114]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118902 entries, 0 to 119389
Data columns (total 25 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           118902 non-null  int64
 1   lead_time                       118902 non-null  int64
 2   arrival_date_month              118902 non-null  int64
 3   stays_in_weekend_nights         118902 non-null  int64
 4   stays_in_week_nights            118902 non-null  int64
 5   meal                            118902 non-null  int32
 6   country                         118902 non-null  int32
 7   market_segment                  118902 non-null  int32
 8   distribution_channel            118902 non-null  int32
 9   is_repeated_guest               118902 non-null  int64
 10  previous_cancellations          118902 non-null  int64
 11  previous_bookings_not_canceled  118902 non-null  int64
 12  reserved_room_type              118902 non-null  int32
 13  assigned_room_type              118902 non-null  int32
 14  booking_changes                 118902 non-null  int64
 15  deposit_type                    118902 non-null  int32
 16  days_in_waiting_list            118902 non-null  int64
 17  customer_type                   118902 non-null  int32
 18  adr                             118902 non-null  float64
 19  required_car_parking_spaces     118902 non-null  int64
 20  total_of_special_requests       118902 non-null  int64
 21  is_family                       118902 non-null  int64
 22  total_customer                  118902 non-null  float64
 23  agent_encoded                   118902 non-null  int32
 24  company_encoded                 118902 non-null  int32
dtypes: float64(2), int32(10), int64(13)
memory usage: 19.1 MB

In [115]:
data.head()

,hotel,is_canceled,lead_time,arrival_date_month,stays_in_weekend_nights,stays_in_week_nights,meal,country,market_segment,distribution_channel,...,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,is_family,total_customer,agent_encoded,company_encoded
0,0,0,342,7,0,0,0,135,3,1,...,0,0,2,0.0,0,0,0,2.0,0,0
1,0,0,737,7,0,0,0,135,3,1,...,0,0,2,0.0,0,0,0,2.0,0,0
2,0,0,7,7,0,1,0,59,3,1,...,0,0,2,75.0,0,0,0,1.0,0,0
3,0,0,13,7,0,1,0,59,2,0,...,0,0,2,75.0,0,0,0,1.0,1,0
4,0,0,14,7,0,2,0,59,6,3,...,0,0,2,98.0,0,1,0,2.0,1,0

In [116]:
from sklearn.model_selection import train_test_split
# split into training and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=420)

### Basic Bernoulli Naive Bayes

In [117]:
from sklearn import naive_bayes
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score


model = naive_bayes.BernoulliNB()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

model.get_params().keys()

Accuracy: 75.21%

dict_keys(['alpha', 'binarize', 'class_prior', 'fit_prior'])

### Bernoulli Naive Bayes with GridSearchCV

In [118]:
from sklearn.model_selection import GridSearchCV
fit_prior = [True, False]
alpha = [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1]
binarize = [0, 0.001, 0.005, 0.01, 0.05, 0.1, 0.5, 1]
parameters = {'alpha': alpha, 'binarize': binarize, 'fit_prior': fit_prior}
model = naive_bayes.BernoulliNB()
search = GridSearchCV(estimator=model, param_grid=parameters, cv=5, scoring='f1')
search.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=BernoulliNB(),
             param_grid={'alpha': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9,
                                   1],
                         'binarize': [0, 0.001, 0.005, 0.01, 0.05, 0.1, 0.5, 1],
                         'fit_prior': [True, False]},
             scoring='f1')

In [119]:
alpha = search.best_params_["alpha"]
binarize = search.best_params_["binarize"]
fit_prior = search.best_params_["fit_prior"]

search.best_params_

{'alpha': 0.1, 'binarize': 0, 'fit_prior': False}

In [120]:
model = naive_bayes.BernoulliNB(alpha=alpha, binarize=binarize, fit_prior=fit_prior)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
print("Accuracy: %.2f%%" % (accuracy * 100.0))
print("Precision: %.2f%%" % (precision * 100.0))
print("Recall: %.2f%%" % (recall * 100.0))
print("F1: %.2f%%" % (f1 * 100.0))

Accuracy: 73.08%
Precision: 65.31%
Recall: 59.48%
F1: 62.26%

### Bernoulli Naive Bayes with Scaling

In [121]:
# create copy of DF for scaling
X_scaled = X.copy()

In [122]:
from sklearn.preprocessing import StandardScaler

columns_to_scale = ['lead_time', 'stays_in_weekend_nights', 'stays_in_week_nights',
                    'previous_cancellations', 'previous_bookings_not_canceled',
                    'booking_changes', 'days_in_waiting_list', 'adr', 'required_car_parking_spaces',
                    'total_of_special_requests', 'total_customer']

remaining_columns = [x for x in X_scaled.columns if x not in columns_to_scale]


# Scale columns
scaler = StandardScaler()

X_scaled[columns_to_scale] = scaler.fit_transform(X_scaled[columns_to_scale]) # to learn mean and standard dev to be used for scaling

In [123]:
# Train Test Split with Scaling
X_scaled_train, X_scaled_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=420)

In [124]:
model = naive_bayes.BernoulliNB()
search = GridSearchCV(estimator=model, param_grid=parameters, cv=5, scoring='f1')
search.fit(X_scaled_train, y_train)

alpha = search.best_params_["alpha"]
binarize = search.best_params_["binarize"]
fit_prior = search.best_params_["fit_prior"]

search.best_params_

{'alpha': 0.1, 'binarize': 0.01, 'fit_prior': False}

In [125]:
model = naive_bayes.BernoulliNB(alpha=alpha, binarize=binarize, fit_prior=fit_prior)
model.fit(X_scaled_train, y_train)
y_pred = model.predict(X_scaled_test)
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
print("Accuracy: %.2f%%" % (accuracy * 100.0))
print("Precision: %.2f%%" % (precision * 100.0))
print("Recall: %.2f%%" % (recall * 100.0))
print("F1: %.2f%%" % (f1 * 100.0))

Accuracy: 71.73%
Precision: 61.54%
Recall: 64.67%
F1: 63.07%

### Bernoulli Naive Bayes with Scaling and PCA

In [126]:
X_pca = X_scaled.copy()

In [127]:
from sklearn.decomposition import PCA

# 11 randomly chosen, might want to change number of principle components
n = 11 
pca = PCA(n_components=n, random_state=69)
pca_components = pca.fit_transform(X_pca)
print('explained var ratio', pca.explained_variance_ratio_)
print('sum', sum(pca.explained_variance_ratio_))

columns = []
for i in range(n):
    x = "pc" + str(i)
    columns.append(x)

# convert numpy array to dataframe
X_pca = pd.DataFrame(pca_components, columns=columns)
X_pca

explained var ratio [9.84661267e-01 4.71420598e-03 3.07917134e-03 1.23227590e-03
 7.51702092e-04 6.31532435e-04 5.56456504e-04 5.35484194e-04
 5.09631816e-04 4.93942207e-04 4.47154757e-04]
sum 0.9976128238380612

,pc0,pc1,pc2,pc3,pc4,pc5,pc6,pc7,pc8,pc9,pc10
0,-42.034515,-0.376198,0.932633,-2.830173,1.186090,-0.605673,-1.304855,0.584428,0.775101,-2.213400,-3.153266
1,-42.037614,-0.554474,0.742330,-2.459376,2.844762,-1.680876,-1.464983,1.392002,1.814646,-3.295452,-4.412650
2,33.953359,-0.372435,-0.759516,-3.537941,-0.777114,-0.377454,-0.468921,-0.543039,-0.862095,0.189525,0.061694
3,33.937846,-0.372741,-2.191080,-4.289778,-0.389914,-0.231609,-0.551343,-0.334350,-0.053594,1.046735,0.107302
4,33.986321,-0.469003,-1.691806,0.544929,-1.318948,0.115069,0.397515,-0.778485,0.195386,-0.017526,-0.139974
...,...,...,...,...,...,...,...,...,...,...,...
118897,77.979154,-1.551168,-1.961779,-0.242647,1.103623,0.067996,0.178831,-0.979067,-0.156360,0.752657,0.390723
118898,37.037002,-1.636929,4.496027,1.670637,0.469614,0.326455,0.647095,-0.108955,1.095428,0.950340,-0.207976
118899,50.032160,-1.603258,2.832234,1.469049,0.049207,1.760798,1.180357,-1.089256,0.869395,-0.187385,-0.166252
118900,33.989613,-1.532029,-1.660343,0.996491,1.174371,-0.011868,0.288859,-0.953554,-0.085797,0.485775,0.283784
118901,50.006099,-1.658534,-1.560917,2.039802,1.689889,1.468052,0.167414,0.580435,0.444363,0.490638,0.401072

In [128]:
# Train Test Split with Scaling and PCA
X_pca_scaled_train, X_pca_scaled_test, y_train, y_test = train_test_split(X_pca, y, test_size=0.2, random_state=420)

In [129]:
model = naive_bayes.BernoulliNB()
search = GridSearchCV(estimator=model, param_grid=parameters, cv=5, scoring='f1')
search.fit(X_pca_scaled_train, y_train)

alpha = search.best_params_["alpha"]
binarize = search.best_params_["binarize"]
fit_prior = search.best_params_["fit_prior"]

search.best_params_

{'alpha': 0.1, 'binarize': 0.05, 'fit_prior': False}

In [130]:
model = naive_bayes.BernoulliNB(alpha=alpha, binarize=binarize, fit_prior=fit_prior)
model.fit(X_pca_scaled_train, y_train)
y_pred = model.predict(X_pca_scaled_test)
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
print("Accuracy: %.2f%%" % (accuracy * 100.0))
print("Precision: %.2f%%" % (precision * 100.0))
print("Recall: %.2f%%" % (recall * 100.0))
print("F1: %.2f%%" % (f1 * 100.0))

Accuracy: 71.25%
Precision: 59.65%
Recall: 71.05%
F1: 64.85%