In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing

In [2]:
df = pd.read_csv('hotel_bookings.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
hotel                             119390 non-null object
is_canceled                       119390 non-null int64
lead_time                         119390 non-null int64
arrival_date_year                 119390 non-null int64
arrival_date_month                119390 non-null object
arrival_date_week_number          119390 non-null int64
arrival_date_day_of_month         119390 non-null int64
stays_in_weekend_nights           119390 non-null int64
stays_in_week_nights              119390 non-null int64
adults                            119390 non-null int64
children                          119386 non-null float64
babies                            119390 non-null int64
meal                              119390 non-null object
country                           118902 non-null object
market_segment                    119390 non-null object
distribution_channel              119390 non-null object
is_repeated_guest                 119390 non-null int64
previous_cancellations            119390 non-null int64
previous_bookings_not_canceled    119390 non-null int64
reserved_room_type                119390 non-null object
assigned_room_type                119390 non-null object
booking_changes                   119390 non-null int64
deposit_type                      119390 non-null object
agent                             103050 non-null float64
company                           6797 non-null float64
days_in_waiting_list              119390 non-null int64
customer_type                     119390 non-null object
adr                               119390 non-null float64
required_car_parking_spaces       119390 non-null int64
total_of_special_requests         119390 non-null int64
reservation_status                119390 non-null object
reservation_status_date           119390 non-null object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [4]:
df.head(50)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,No Deposit,NaN,NaN,0,Transient,107.00,0,0,Check-Out,2015-07-03
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,No Deposit,303.0,NaN,0,Transient,103.00,0,1,Check-Out,2015-07-03
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,No Deposit,240.0,NaN,0,Transient,82.00,0,1,Canceled,2015-05-06
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.50,0,0,Canceled,2015-04-22
10,Resort Hotel,1,23,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,123.00,0,0,Canceled,2015-06-23
11,Resort Hotel,0,35,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,145.00,0,0,Check-Out,2015-07-05
12,Resort Hotel,0,68,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,97.00,0,3,Check-Out,2015-07-05
13,Resort Hotel,0,18,2015,July,27,1,0,4,2,...,No Deposit,241.0,NaN,0,Transient,154.77,0,1,Check-Out,2015-07-05
14,Resort Hotel,0,37,2015,July,27,1,0,4,2,...,No Deposit,241.0,NaN,0,Transient,94.71,0,0,Check-Out,2015-07-05
15,Resort Hotel,0,68,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,97.00,0,3,Check-Out,2015-07-05
16,Resort Hotel,0,37,2015,July,27,1,0,4,2,...,No Deposit,8.0,NaN,0,Contract,97.50,0,0,Check-Out,2015-07-05
17,Resort Hotel,0,12,2015,July,27,1,0,1,2,...,No Deposit,240.0,NaN,0,Transient,88.20,0,0,Check-Out,2015-07-02
18,Resort Hotel,0,0,2015,July,27,1,0,1,2,...,No Deposit,NaN,110.0,0,Transient,107.42,0,0,Check-Out,2015-07-02
19,Resort Hotel,0,7,2015,July,27,1,0,4,2,...,No Deposit,250.0,NaN,0,Transient,153.00,0,1,Check-Out,2015-07-05
20,Resort Hotel,0,37,2015,July,27,1,1,4,1,...,No Deposit,241.0,NaN,0,Transient,97.29,0,1,Check-Out,2015-07-06
21,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,No Deposit,250.0,NaN,0,Transient,84.67,0,1,Check-Out,2015-07-07
22,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,No Deposit,250.0,NaN,0,Transient,84.67,0,1,Check-Out,2015-07-07
23,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,No Deposit,250.0,NaN,0,Transient,99.67,0,1,Check-Out,2015-07-07
24,Resort Hotel,0,127,2015,July,27,1,2,5,2,...,No Deposit,115.0,NaN,0,Contract,94.95,0,1,Check-Out,2015-07-01
25,Resort Hotel,0,78,2015,July,27,1,2,5,2,...,No Deposit,5.0,NaN,0,Transient,63.60,1,0,Check-Out,2015-07-08
26,Resort Hotel,0,48,2015,July,27,1,2,5,2,...,No Deposit,8.0,NaN,0,Contract,79.50,0,0,Check-Out,2015-07-08
27,Resort Hotel,1,60,2015,July,27,1,2,5,2,...,No Deposit,240.0,NaN,0,Transient,107.00,0,2,Canceled,2015-05-11
28,Resort Hotel,0,77,2015,July,27,1,2,5,2,...,No Deposit,240.0,NaN,0,Transient,94.00,0,0,Check-Out,2015-07-08
29,Resort Hotel,0,99,2015,July,27,1,2,5,2,...,No Deposit,240.0,NaN,0,Transient,87.30,1,1,Check-Out,2015-07-08
30,Resort Hotel,0,118,2015,July,27,1,4,10,1,...,No Deposit,NaN,NaN,0,Transient,62.00,0,2,Check-Out,2015-07-15
31,Resort Hotel,0,95,2015,July,27,1,4,11,2,...,No Deposit,241.0,NaN,0,Transient,63.86,0,0,Check-Out,2015-07-16
32,Resort Hotel,1,96,2015,July,27,1,2,8,2,...,No Deposit,NaN,NaN,0,Transient,108.30,0,2,Canceled,2015-05-29
33,Resort Hotel,0,69,2015,July,27,2,2,4,2,...,No Deposit,175.0,NaN,0,Transient,65.50,0,0,Check-Out,2015-07-08
34,Resort Hotel,1,45,2015,July,27,2,1,3,3,...,No Deposit,241.0,NaN,0,Transient,108.80,0,1,Canceled,2015-05-19
35,Resort Hotel,1,40,2015,July,27,2,1,3,3,...,No Deposit,241.0,NaN,0,Transient,108.80,0,1,Canceled,2015-06-19
36,Resort Hotel,0,15,2015,July,27,2,1,3,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,0,Check-Out,2015-07-06
37,Resort Hotel,0,36,2015,July,27,2,1,3,3,...,No Deposit,241.0,NaN,0,Transient,108.80,0,1,Check-Out,2015-07-06
38,Resort Hotel,1,43,2015,July,27,2,1,3,3,...,No Deposit,241.0,NaN,0,Transient,108.80,0,0,Canceled,2015-05-23
39,Resort Hotel,0,70,2015,July,27,2,2,3,2,...,No Deposit,250.0,NaN,0,Transient,137.00,0,1,Check-Out,2015-07-07
40,Resort Hotel,1,45,2015,July,27,2,2,3,2,...,No Deposit,241.0,NaN,0,Transient,117.81,0,0,Canceled,2015-05-18
41,Resort Hotel,0,45,2015,July,27,2,2,3,2,...,No Deposit,8.0,NaN,0,Contract,79.50,0,0,Check-Out,2015-07-07
42,Resort Hotel,0,16,2015,July,27,2,2,3,2,...,No Deposit,NaN,NaN,0,Transient,123.00,0,0,Check-Out,2015-07-07
43,Resort Hotel,0,70,2015,July,27,2,2,3,2,...,No Deposit,250.0,NaN,0,Transient,137.00,0,1,Check-Out,2015-07-07
44,Resort Hotel,0,107,2015,July,27,2,2,5,2,...,No Deposit,240.0,NaN,0,Transient,110.70,0,2,Check-Out,2015-07-09
45,Resort Hotel,1,47,2015,July,27,2,2,5,2,...,No Deposit,240.0,NaN,0,Transient,153.00,0,0,Canceled,2015-06-02
46,Resort Hotel,0,96,2015,July,27,2,2,5,2,...,No Deposit,134.0,NaN,0,Transient,58.95,0,1,Check-Out,2015-07-09
47,Resort Hotel,0,113,2015,July,27,2,2,5,2,...,No Deposit,156.0,NaN,0,Transient-Party,82.88,0,2,Check-Out,2015-07-09
48,Resort Hotel,0,90,2015,July,27,2,2,5,2,...,No Deposit,243.0,NaN,0,Contract,82.35,0,0,Check-Out,2015-07-09
49,Resort Hotel,0,50,2015,July,27,2,2,5,2,...,No Deposit,241.0,NaN,0,Transient,119.35,0,1,Check-Out,2015-07-09

In [5]:
#combining columns to form date

df["date"]=df["arrival_date_year"].astype(str) + "/" + df["arrival_date_month"] + "/"+ df["arrival_date_day_of_month"].astype(str)

In [6]:
#convert date column to date type

df['date'] = pd.to_datetime(df['date'])

In [7]:
#columns to drop 

to_drop=['arrival_date_year','arrival_date_month','arrival_date_week_number','arrival_date_day_of_month','reservation_status_date', 'reservation_status','date']

for column in df.columns:
    if column in to_drop:
        df=df.drop(column,axis=1)

In [8]:
#drop null rows for column "Country"

df.dropna(subset=['country','children'],inplace=True)

In [9]:
#columns to encode

to_encode = ["deposit_type", "customer_type", "hotel" , "meal", 'country','market_segment',"distribution_channel",'assigned_room_type', 'reserved_room_type']

for column in df.columns:
    if column in to_encode:
        le = preprocessing.LabelEncoder()
        le.fit(df[column].astype(str))
        df[column]=le.transform(df[column])
        keys = le.classes_
        values = le.transform(le.classes_)
        dictionary = dict(zip(keys, values))
        print(dictionary)

{'City Hotel': 0, 'Resort Hotel': 1}
{'BB': 0, 'FB': 1, 'HB': 2, 'SC': 3, 'Undefined': 4}
{'ABW': 0, 'AGO': 1, 'AIA': 2, 'ALB': 3, 'AND': 4, 'ARE': 5, 'ARG': 6, 'ARM': 7, 'ASM': 8, 'ATA': 9, 'ATF': 10, 'AUS': 11, 'AUT': 12, 'AZE': 13, 'BDI': 14, 'BEL': 15, 'BEN': 16, 'BFA': 17, 'BGD': 18, 'BGR': 19, 'BHR': 20, 'BHS': 21, 'BIH': 22, 'BLR': 23, 'BOL': 24, 'BRA': 25, 'BRB': 26, 'BWA': 27, 'CAF': 28, 'CHE': 29, 'CHL': 30, 'CHN': 31, 'CIV': 32, 'CMR': 33, 'CN': 34, 'COL': 35, 'COM': 36, 'CPV': 37, 'CRI': 38, 'CUB': 39, 'CYM': 40, 'CYP': 41, 'CZE': 42, 'DEU': 43, 'DJI': 44, 'DMA': 45, 'DNK': 46, 'DOM': 47, 'DZA': 48, 'ECU': 49, 'EGY': 50, 'ESP': 51, 'EST': 52, 'ETH': 53, 'FIN': 54, 'FJI': 55, 'FRA': 56, 'FRO': 57, 'GAB': 58, 'GBR': 59, 'GEO': 60, 'GGY': 61, 'GHA': 62, 'GIB': 63, 'GLP': 64, 'GNB': 65, 'GRC': 66, 'GTM': 67, 'GUY': 68, 'HKG': 69, 'HND': 70, 'HRV': 71, 'HUN': 72, 'IDN': 73, 'IMN': 74, 'IND': 75, 'IRL': 76, 'IRN': 77, 'IRQ': 78, 'ISL': 79, 'ISR': 80, 'ITA': 81, 'JAM': 82, 'JEY': 83, 'JOR': 84, 'JPN': 85, 'KAZ': 86, 'KEN': 87, 'KHM': 88, 'KIR': 89, 'KNA': 90, 'KOR': 91, 'KWT': 92, 'LAO': 93, 'LBN': 94, 'LBY': 95, 'LCA': 96, 'LIE': 97, 'LKA': 98, 'LTU': 99, 'LUX': 100, 'LVA': 101, 'MAC': 102, 'MAR': 103, 'MCO': 104, 'MDG': 105, 'MDV': 106, 'MEX': 107, 'MKD': 108, 'MLI': 109, 'MLT': 110, 'MMR': 111, 'MNE': 112, 'MOZ': 113, 'MRT': 114, 'MUS': 115, 'MWI': 116, 'MYS': 117, 'MYT': 118, 'NAM': 119, 'NCL': 120, 'NGA': 121, 'NIC': 122, 'NLD': 123, 'NOR': 124, 'NPL': 125, 'NZL': 126, 'OMN': 127, 'PAK': 128, 'PAN': 129, 'PER': 130, 'PHL': 131, 'PLW': 132, 'POL': 133, 'PRI': 134, 'PRT': 135, 'PRY': 136, 'PYF': 137, 'QAT': 138, 'ROU': 139, 'RUS': 140, 'RWA': 141, 'SAU': 142, 'SDN': 143, 'SEN': 144, 'SGP': 145, 'SLE': 146, 'SLV': 147, 'SMR': 148, 'SRB': 149, 'STP': 150, 'SUR': 151, 'SVK': 152, 'SVN': 153, 'SWE': 154, 'SYC': 155, 'SYR': 156, 'TGO': 157, 'THA': 158, 'TJK': 159, 'TMP': 160, 'TUN': 161, 'TUR': 162, 'TWN': 163, 'TZA': 164, 'UGA': 165, 'UKR': 166, 'UMI': 167, 'URY': 168, 'USA': 169, 'UZB': 170, 'VEN': 171, 'VGB': 172, 'VNM': 173, 'ZAF': 174, 'ZMB': 175, 'ZWE': 176}
{'Aviation': 0, 'Complementary': 1, 'Corporate': 2, 'Direct': 3, 'Groups': 4, 'Offline TA/TO': 5, 'Online TA': 6}
{'Corporate': 0, 'Direct': 1, 'GDS': 2, 'TA/TO': 3, 'Undefined': 4}
{'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4, 'F': 5, 'G': 6, 'H': 7, 'L': 8, 'P': 9}
{'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4, 'F': 5, 'G': 6, 'H': 7, 'I': 8, 'K': 9, 'L': 10, 'P': 11}
{'No Deposit': 0, 'Non Refund': 1, 'Refundable': 2}
{'Contract': 0, 'Group': 1, 'Transient': 2, 'Transient-Party': 3}

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118898 entries, 0 to 119389
Data columns (total 26 columns):
hotel                             118898 non-null int32
is_canceled                       118898 non-null int64
lead_time                         118898 non-null int64
stays_in_weekend_nights           118898 non-null int64
stays_in_week_nights              118898 non-null int64
adults                            118898 non-null int64
children                          118898 non-null float64
babies                            118898 non-null int64
meal                              118898 non-null int32
country                           118898 non-null int32
market_segment                    118898 non-null int32
distribution_channel              118898 non-null int32
is_repeated_guest                 118898 non-null int64
previous_cancellations            118898 non-null int64
previous_bookings_not_canceled    118898 non-null int64
reserved_room_type                118898 non-null int32
assigned_room_type                118898 non-null int32
booking_changes                   118898 non-null int64
deposit_type                      118898 non-null int32
agent                             102894 non-null float64
company                           6623 non-null float64
days_in_waiting_list              118898 non-null int64
customer_type                     118898 non-null int32
adr                               118898 non-null float64
required_car_parking_spaces       118898 non-null int64
total_of_special_requests         118898 non-null int64
dtypes: float64(4), int32(9), int64(13)
memory usage: 20.4 MB

In [11]:
df.head()

,hotel,is_canceled,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,...,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests
0,1,0,342,0,0,2,0.0,0,0,135,...,2,3,0,NaN,NaN,0,2,0.0,0,0
1,1,0,737,0,0,2,0.0,0,0,135,...,2,4,0,NaN,NaN,0,2,0.0,0,0
2,1,0,7,0,1,1,0.0,0,0,59,...,2,0,0,NaN,NaN,0,2,75.0,0,0
3,1,0,13,0,1,1,0.0,0,0,59,...,0,0,0,304.0,NaN,0,2,75.0,0,0
4,1,0,14,0,2,2,0.0,0,0,59,...,0,0,0,240.0,NaN,0,2,98.0,0,1

In [12]:
#encoding both agent and company code

df['agent_encoded'] = df['agent'].notnull()
df['company_encoded'] = df['company'].notnull()
df["agent_encoded"] = df["agent_encoded"].astype(int)
df["company_encoded"] = df["company_encoded"].astype(int)
df=df.drop(['agent','company'],axis = 1)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118898 entries, 0 to 119389
Data columns (total 26 columns):
hotel                             118898 non-null int32
is_canceled                       118898 non-null int64
lead_time                         118898 non-null int64
stays_in_weekend_nights           118898 non-null int64
stays_in_week_nights              118898 non-null int64
adults                            118898 non-null int64
children                          118898 non-null float64
babies                            118898 non-null int64
meal                              118898 non-null int32
country                           118898 non-null int32
market_segment                    118898 non-null int32
distribution_channel              118898 non-null int32
is_repeated_guest                 118898 non-null int64
previous_cancellations            118898 non-null int64
previous_bookings_not_canceled    118898 non-null int64
reserved_room_type                118898 non-null int32
assigned_room_type                118898 non-null int32
booking_changes                   118898 non-null int64
deposit_type                      118898 non-null int32
days_in_waiting_list              118898 non-null int64
customer_type                     118898 non-null int32
adr                               118898 non-null float64
required_car_parking_spaces       118898 non-null int64
total_of_special_requests         118898 non-null int64
agent_encoded                     118898 non-null int32
company_encoded                   118898 non-null int32
dtypes: float64(2), int32(11), int64(13)
memory usage: 19.5 MB

In [14]:
column_list=list(df.columns)
column_list.remove('is_canceled')

In [15]:
# features
X = df[column_list]

# target
y = df['is_canceled']

In [16]:
from sklearn.model_selection import train_test_split
# split into training and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=420)

## Basic XG Boost model

In [17]:
import xgboost as xgb
from sklearn.metrics import accuracy_score
model = xgb.XGBClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 86.94%

In [18]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
kfold = KFold(n_splits=10, random_state=420)
results = cross_val_score(model, X, y, cv=kfold)

C:\Users\zychoo.2018\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:297: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

In [19]:
print("Accuracy: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))

Accuracy: 72.54% (14.48%)

In [20]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("RMSE: %f" % (rmse))

RMSE: 0.361347

### XG Boost with Scaling

In [21]:
# create copy of DF for scaling
X_scaled = X.copy()

In [22]:
from sklearn.preprocessing import StandardScaler

columns_to_scale = ['lead_time', 'stays_in_weekend_nights', 'stays_in_week_nights',
                    'adults', 'children', 'babies', 'previous_cancellations',
                    'booking_changes', 'days_in_waiting_list', 'adr', 'required_car_parking_spaces',
                    'total_of_special_requests']

remaining_columns = [x for x in X_scaled.columns if x not in columns_to_scale]


# Scale columns
scaler = StandardScaler()

X_scaled[columns_to_scale] = scaler.fit_transform(X_scaled[columns_to_scale]) # to learn mean and standard dev to be used for scaling

In [23]:
# Train Test Split with Scaling
X_scaled_train, X_scaled_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=420)

In [24]:
model = xgb.XGBClassifier()
model.fit(X_scaled_train, y_train)
y_pred = model.predict(X_scaled_test)
predictions = [round(value) for value in y_pred]
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 86.94%

In [25]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
kfold = KFold(n_splits=10, random_state=420)
results = cross_val_score(model, X_scaled, y, cv=kfold)

C:\Users\zychoo.2018\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:297: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

In [26]:
print("Accuracy: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))

Accuracy: 72.54% (14.48%)

In [27]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("RMSE: %f" % (rmse))

RMSE: 0.361347

### XG Boost with Scaling and PCA

In [28]:
X_pca = X_scaled.copy()

In [30]:
from sklearn.decomposition import PCA

# 11 randomly chosen, might want to change number of principle components
n = 11 
pca = PCA(n_components=n, random_state=69)
pca_components = pca.fit_transform(X_pca)
print('explained var ratio', pca.explained_variance_ratio_)
print('sum', sum(pca.explained_variance_ratio_))

columns = []
for i in range(n):
    x = "pc" + str(i)
    columns.append(x)

# convert numpy array to dataframe
X_pca = pd.DataFrame(pca_components, columns=columns)
X_pca

explained var ratio [9.87778604e-01 3.11108478e-03 1.38801891e-03 9.51237730e-04
 7.58654129e-04 6.42133783e-04 5.42579946e-04 5.32991461e-04
 5.03773921e-04 4.88776422e-04 4.72801629e-04]
sum 0.9971706570406185

,pc0,pc1,pc2,pc3,pc4,pc5,pc6,pc7,pc8,pc9,pc10
0,-42.034653,0.903925,1.990120,-2.214589,1.229493,-0.022461,1.366190,0.944201,-1.874843,-0.070052,0.752655
1,-42.037752,0.712608,1.599451,-2.204074,2.916193,-0.896018,2.695324,1.909145,-2.516551,-0.254537,0.954556
2,33.952328,-0.690132,2.836501,-2.313779,-0.839478,-0.095063,-0.523871,-0.492255,-0.190466,-0.240453,0.464469
3,33.936814,-2.113705,3.444798,-2.770482,-0.458331,0.094400,-0.164353,-0.190902,0.890688,-0.370304,0.295586
4,33.986149,-1.711576,-0.454581,0.385561,-1.289365,0.020554,-0.741972,0.517635,0.060970,-0.003032,0.007682
5,33.986149,-1.711576,-0.454581,0.385561,-1.289365,0.020554,-0.741972,0.517635,0.060970,-0.003032,0.007682
6,-42.026650,1.359289,1.671187,-1.664487,-0.427256,-0.147444,-0.136265,-0.265829,0.850999,0.349546,-0.093810
7,-42.018824,1.362496,1.319279,-1.171935,-0.546529,0.517564,0.336555,-0.505621,0.689450,0.664437,-0.218880
8,-42.008019,-1.278676,-1.209245,0.732593,-0.674000,0.121634,-0.823392,0.535483,-0.117143,0.016410,-0.075231
9,-41.993211,2.568796,-0.623825,0.059769,-0.390195,-0.218552,0.609037,-1.632790,-0.488058,0.690039,0.027955
10,-41.979804,4.194628,-0.893517,0.271421,-0.511203,-0.711180,-0.776697,-0.583490,-0.587904,0.152856,0.166898
11,-41.981761,2.790139,-1.291717,0.640619,-0.526383,0.067521,0.569888,-1.664624,-0.301794,0.408078,-0.014024
12,-75.968724,3.929381,-1.484125,1.263597,-0.797437,0.661138,-1.164467,0.647167,-0.973478,0.504727,-0.123130
13,42.042056,6.879745,-0.461869,0.405621,-0.652114,0.225620,1.554539,-1.240777,-0.528299,-0.705159,0.791566
14,-41.981402,4.095961,-0.828411,0.207889,-0.390996,-0.794936,-0.938103,-0.607881,-0.866913,0.268987,0.201422
15,17.023904,3.324719,-0.686236,0.878323,-0.798108,0.303732,-1.084651,0.725809,-0.941354,0.544163,-0.048084
16,-41.988116,4.127289,-0.373817,-0.092404,-0.167398,-0.732677,-0.977718,-0.548426,-0.463946,0.400852,0.139224
17,16.994256,1.071230,-0.000302,-0.275372,-1.617004,-0.664862,-0.940375,-0.452720,-1.423994,0.438348,0.306199
18,36.960721,2.354806,3.853601,-3.156592,-0.741275,-0.350698,-0.111086,-0.677982,-0.259590,0.968039,0.048454
19,34.007139,6.516691,2.132853,-1.674516,-0.025140,-0.598688,-0.074754,-0.401732,0.416367,0.640639,-0.012658
20,34.023242,4.943490,-0.008571,0.063718,-0.084958,-0.390867,-1.415838,-0.715494,-1.444703,-0.363180,0.627362
21,-42.026910,-1.112777,1.027334,-0.950986,1.758614,1.498153,-0.273438,0.585740,0.787245,-0.227704,-0.236470
22,-42.026910,-1.112777,1.027334,-0.950986,1.758614,1.498153,-0.273438,0.585740,0.787245,-0.227704,-0.236470
23,-42.004639,2.952097,1.211772,-1.131190,1.730254,0.950287,-0.253030,0.116756,0.245526,0.048093,-0.076964
24,34.030328,5.862700,-0.046338,0.059853,1.228963,0.114644,-0.452878,-1.963358,-1.869652,1.315654,0.022993
25,-41.991071,3.051215,-0.222378,-0.069363,1.096126,0.834844,-1.263605,0.346924,-0.531364,1.356067,-2.296105
26,17.006188,2.487652,-0.185197,-0.036601,1.363646,-0.309960,-1.485452,-0.547113,-0.152372,0.241708,0.005717
27,-41.964480,4.439758,-1.400847,1.122602,0.801865,0.527087,-1.453422,0.051593,-0.512927,0.246345,-0.142338
28,-42.003380,-1.140430,-1.461160,0.772817,1.193155,0.335830,-1.231900,-0.077790,0.268892,-0.304042,-0.180239
29,-41.977865,3.236240,-0.974023,0.744484,0.742882,1.232966,-1.289046,0.816096,-0.545892,1.284724,-2.373941
...,...,...,...,...,...,...,...,...,...,...,...
118868,7.994721,-1.494534,-1.277339,0.871964,0.754228,-0.118621,-0.582347,0.735614,0.412811,-0.261664,-0.170044
118869,49.997806,2.050939,0.268911,-0.448013,0.203246,-1.141478,-0.618626,-0.285873,-0.250459,0.202338,0.196937
118870,12.001958,-1.318618,-1.157003,0.977486,1.141216,1.393038,0.249824,1.639645,-0.574581,-0.896844,0.170852
118871,62.013374,2.138592,-0.644532,0.486297,1.450025,-0.763166,-0.959623,0.181454,-0.395818,0.146239,0.029330
118872,12.022021,2.549672,-1.187200,0.999049,1.295519,-0.136665,-1.084012,0.538157,-0.411875,0.206430,-0.103046
118873,8.020758,7.015625,1.424894,-1.061860,1.692396,0.355370,-0.099754,-0.724657,1.382372,-0.862263,0.122854
118874,-42.000203,-1.222088,-1.743330,1.116831,1.451140,0.201497,-1.016394,0.573696,0.192269,-0.207284,-0.224452
118875,-42.004910,-1.309330,-1.632145,0.811749,1.613188,-0.240060,-0.930436,0.178351,0.190363,-0.287811,-0.132495
118876,49.955849,-2.039307,1.630228,-1.544018,1.637276,-0.803040,0.230721,0.504413,1.339636,0.089744,-0.216413
118877,33.977010,-1.523222,0.940472,-0.516686,3.231522,1.007965,-0.705702,0.945984,1.624537,0.002819,-0.629304
118878,49.989923,-1.896115,-0.628691,0.754948,0.222437,0.266571,-0.850544,0.865339,-0.196088,-0.877528,0.274456
118879,-30.007907,-1.294142,-0.835994,0.614349,0.445185,0.869676,-0.217413,1.306668,-0.206747,-0.291019,-0.005090
118880,-30.018414,-1.598056,-0.491128,0.215244,0.242823,0.107830,-0.852041,0.334858,-0.254133,-0.793355,0.329155
118881,-30.018414,-1.598056,-0.491128,0.215244,0.242823,0.107830,-0.852041,0.334858,-0.254133,-0.793355,0.329155
118882,49.996008,-1.685363,-1.038224,1.005183,0.620605,0.132686,-0.614339,1.181032,0.426456,-0.159862,-0.228399
118883,80.978290,-2.143210,0.037387,-0.001610,0.744427,-0.549647,-0.504434,0.779593,0.341406,0.004968,-0.077794
118884,81.036210,4.019212,-1.128936,1.281820,0.219939,-0.296072,0.010753,1.361467,0.936284,0.799726,-0.623792
118885,63.994397,-2.135362,-1.035587,0.905810,0.440634,0.508607,1.100672,-1.208415,0.005445,0.539625,-0.204202
118886,33.975435,-1.982673,-0.254763,-0.148090,0.744774,-1.055019,-0.282610,0.447643,0.293000,-0.039919,0.011752
118887,34.014220,2.460168,-0.708544,0.513205,-0.280606,-0.596897,-0.443126,0.210420,0.077191,-0.018911,0.062726
118888,49.997804,-1.857526,-1.040499,0.974194,-0.489108,1.036058,1.123512,-1.384354,0.426246,0.351516,-0.223259
118889,49.958130,-1.971114,1.672132,-1.506363,1.619869,-0.404664,-0.077296,0.298889,1.443452,0.046338,-0.227353
118890,8.044062,6.954528,-1.273286,0.572002,0.828503,-1.452518,-0.075403,-0.355218,0.535877,0.723553,-0.300083
118891,49.979461,-1.941915,-0.185838,-0.074987,1.330088,-0.513607,-0.726600,0.201023,0.468617,-0.166454,-0.064485
118892,77.990101,-1.801516,-0.078850,0.453753,0.805824,0.856860,-1.193854,0.758639,0.640747,-0.128288,-0.270153
118893,77.980710,-1.974750,0.146030,-0.156945,1.122738,-0.019045,-1.026419,-0.035689,0.637627,-0.290208,-0.086166
118894,37.039434,4.366652,-1.470965,1.288581,0.673930,-0.096168,-0.187109,0.747593,1.204801,0.556317,-0.637430
118895,50.033735,2.794115,-1.056770,1.561251,0.184293,1.304816,-1.166482,1.159889,0.300448,0.053241,-0.331138
118896,33.991195,-1.679326,-0.905847,0.514178,1.196264,-0.138674,-0.967755,0.088352,0.434556,-0.373377,-0.090720
118897,50.007672,-1.582482,-1.616542,1.540326,1.755086,1.152664,0.427065,-0.187615,0.766403,0.020030,-0.494833

In [31]:
# Train Test Split with Scaling and PCA
X_pca_scaled_train, X_pca_scaled_test, y_train, y_test = train_test_split(X_pca, y, test_size=0.2, random_state=420)

In [32]:
model = xgb.XGBClassifier()
model.fit(X_pca_scaled_train, y_train)
y_pred = model.predict(X_pca_scaled_test)
predictions = [round(value) for value in y_pred]
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 84.61%

In [33]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
kfold = KFold(n_splits=10, random_state=420)
results = cross_val_score(model, X_pca, y, cv=kfold)

C:\Users\zychoo.2018\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:297: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

In [34]:
print("Accuracy: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))

Accuracy: 73.57% (14.25%)

In [35]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("RMSE: %f" % (rmse))

RMSE: 0.392261