In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing

In [2]:
data = pd.read_csv('hotel_bookings.csv')

In [3]:
data['children'] = data['children'].fillna(0)

In [4]:
data['hotel'] = data['hotel'].map({'Resort Hotel':0, 'City Hotel':1})

data['arrival_date_month'] = data['arrival_date_month'].map({'January':1, 'February': 2, 'March':3, 'April':4, 'May':5, 'June':6, 'July':7,
                                                            'August':8, 'September':9, 'October':10, 'November':11, 'December':12})

In [5]:
def family(data):
    if ((data['adults'] > 0) & (data['children'] > 0)):
        val = 1
    elif ((data['adults'] > 0) & (data['babies'] > 0)):
        val = 1
    else:
        val = 0
    return val

In [6]:
data["is_family"] = data.apply(family, axis = 1)
data["total_customer"] = data["adults"] + data["children"] + data["babies"]

In [7]:
data = data.drop(columns = ['adults', 'babies', 'children', 'reservation_status_date', 'reservation_status', 'arrival_date_year', 'arrival_date_week_number', 'arrival_date_day_of_month'])

In [8]:
data.head()

,hotel,is_canceled,lead_time,arrival_date_month,stays_in_weekend_nights,stays_in_week_nights,meal,country,market_segment,distribution_channel,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,is_family,total_customer
0,0,0,342,7,0,0,BB,PRT,Direct,Direct,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,0,2.0
1,0,0,737,7,0,0,BB,PRT,Direct,Direct,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,0,2.0
2,0,0,7,7,0,1,BB,GBR,Direct,Direct,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,0,1.0
3,0,0,13,7,0,1,BB,GBR,Corporate,Corporate,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,0,1.0
4,0,0,14,7,0,2,BB,GBR,Online TA,TA/TO,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,0,2.0

In [9]:
data.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_month                     0
stays_in_weekend_nights                0
stays_in_week_nights                   0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
is_family                              0
total_customer                         0
dtype: int64

In [10]:
#drop null rows for column "Country"
data.dropna(subset=['country'],inplace=True)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118902 entries, 0 to 119389
Data columns (total 26 columns):
hotel                             118902 non-null int64
is_canceled                       118902 non-null int64
lead_time                         118902 non-null int64
arrival_date_month                118902 non-null int64
stays_in_weekend_nights           118902 non-null int64
stays_in_week_nights              118902 non-null int64
meal                              118902 non-null object
country                           118902 non-null object
market_segment                    118902 non-null object
distribution_channel              118902 non-null object
is_repeated_guest                 118902 non-null int64
previous_cancellations            118902 non-null int64
previous_bookings_not_canceled    118902 non-null int64
reserved_room_type                118902 non-null object
assigned_room_type                118902 non-null object
booking_changes                   118902 non-null int64
deposit_type                      118902 non-null object
agent                             102896 non-null float64
company                           6623 non-null float64
days_in_waiting_list              118902 non-null int64
customer_type                     118902 non-null object
adr                               118902 non-null float64
required_car_parking_spaces       118902 non-null int64
total_of_special_requests         118902 non-null int64
is_family                         118902 non-null int64
total_customer                    118902 non-null float64
dtypes: float64(4), int64(14), object(8)
memory usage: 24.5+ MB

In [12]:
#columns to encode

# to_encode = ["deposit_type", "customer_type", "hotel" , "meal", 'country','market_segment',"distribution_channel",'assigned_room_type', 'reserved_room_type', "arrival_date_month"]
to_encode = ["meal", "country", "market_segment", "distribution_channel", "reserved_room_type", "assigned_room_type", "deposit_type", "customer_type"]

for column in data.columns:
    if column in to_encode:
        le = preprocessing.LabelEncoder()
        le.fit(data[column].astype(str))
        data[column]=le.transform(data[column])
        keys = le.classes_
        values = le.transform(le.classes_)
        dictionary = dict(zip(keys, values))
        print(dictionary)

{'BB': 0, 'FB': 1, 'HB': 2, 'SC': 3, 'Undefined': 4}
{'ABW': 0, 'AGO': 1, 'AIA': 2, 'ALB': 3, 'AND': 4, 'ARE': 5, 'ARG': 6, 'ARM': 7, 'ASM': 8, 'ATA': 9, 'ATF': 10, 'AUS': 11, 'AUT': 12, 'AZE': 13, 'BDI': 14, 'BEL': 15, 'BEN': 16, 'BFA': 17, 'BGD': 18, 'BGR': 19, 'BHR': 20, 'BHS': 21, 'BIH': 22, 'BLR': 23, 'BOL': 24, 'BRA': 25, 'BRB': 26, 'BWA': 27, 'CAF': 28, 'CHE': 29, 'CHL': 30, 'CHN': 31, 'CIV': 32, 'CMR': 33, 'CN': 34, 'COL': 35, 'COM': 36, 'CPV': 37, 'CRI': 38, 'CUB': 39, 'CYM': 40, 'CYP': 41, 'CZE': 42, 'DEU': 43, 'DJI': 44, 'DMA': 45, 'DNK': 46, 'DOM': 47, 'DZA': 48, 'ECU': 49, 'EGY': 50, 'ESP': 51, 'EST': 52, 'ETH': 53, 'FIN': 54, 'FJI': 55, 'FRA': 56, 'FRO': 57, 'GAB': 58, 'GBR': 59, 'GEO': 60, 'GGY': 61, 'GHA': 62, 'GIB': 63, 'GLP': 64, 'GNB': 65, 'GRC': 66, 'GTM': 67, 'GUY': 68, 'HKG': 69, 'HND': 70, 'HRV': 71, 'HUN': 72, 'IDN': 73, 'IMN': 74, 'IND': 75, 'IRL': 76, 'IRN': 77, 'IRQ': 78, 'ISL': 79, 'ISR': 80, 'ITA': 81, 'JAM': 82, 'JEY': 83, 'JOR': 84, 'JPN': 85, 'KAZ': 86, 'KEN': 87, 'KHM': 88, 'KIR': 89, 'KNA': 90, 'KOR': 91, 'KWT': 92, 'LAO': 93, 'LBN': 94, 'LBY': 95, 'LCA': 96, 'LIE': 97, 'LKA': 98, 'LTU': 99, 'LUX': 100, 'LVA': 101, 'MAC': 102, 'MAR': 103, 'MCO': 104, 'MDG': 105, 'MDV': 106, 'MEX': 107, 'MKD': 108, 'MLI': 109, 'MLT': 110, 'MMR': 111, 'MNE': 112, 'MOZ': 113, 'MRT': 114, 'MUS': 115, 'MWI': 116, 'MYS': 117, 'MYT': 118, 'NAM': 119, 'NCL': 120, 'NGA': 121, 'NIC': 122, 'NLD': 123, 'NOR': 124, 'NPL': 125, 'NZL': 126, 'OMN': 127, 'PAK': 128, 'PAN': 129, 'PER': 130, 'PHL': 131, 'PLW': 132, 'POL': 133, 'PRI': 134, 'PRT': 135, 'PRY': 136, 'PYF': 137, 'QAT': 138, 'ROU': 139, 'RUS': 140, 'RWA': 141, 'SAU': 142, 'SDN': 143, 'SEN': 144, 'SGP': 145, 'SLE': 146, 'SLV': 147, 'SMR': 148, 'SRB': 149, 'STP': 150, 'SUR': 151, 'SVK': 152, 'SVN': 153, 'SWE': 154, 'SYC': 155, 'SYR': 156, 'TGO': 157, 'THA': 158, 'TJK': 159, 'TMP': 160, 'TUN': 161, 'TUR': 162, 'TWN': 163, 'TZA': 164, 'UGA': 165, 'UKR': 166, 'UMI': 167, 'URY': 168, 'USA': 169, 'UZB': 170, 'VEN': 171, 'VGB': 172, 'VNM': 173, 'ZAF': 174, 'ZMB': 175, 'ZWE': 176}
{'Aviation': 0, 'Complementary': 1, 'Corporate': 2, 'Direct': 3, 'Groups': 4, 'Offline TA/TO': 5, 'Online TA': 6, 'Undefined': 7}
{'Corporate': 0, 'Direct': 1, 'GDS': 2, 'TA/TO': 3, 'Undefined': 4}
{'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4, 'F': 5, 'G': 6, 'H': 7, 'L': 8, 'P': 9}
{'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4, 'F': 5, 'G': 6, 'H': 7, 'I': 8, 'K': 9, 'L': 10, 'P': 11}
{'No Deposit': 0, 'Non Refund': 1, 'Refundable': 2}
{'Contract': 0, 'Group': 1, 'Transient': 2, 'Transient-Party': 3}

In [13]:
data.head()

,hotel,is_canceled,lead_time,arrival_date_month,stays_in_weekend_nights,stays_in_week_nights,meal,country,market_segment,distribution_channel,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,is_family,total_customer
0,0,0,342,7,0,0,0,135,3,1,...,0,NaN,NaN,0,2,0.0,0,0,0,2.0
1,0,0,737,7,0,0,0,135,3,1,...,0,NaN,NaN,0,2,0.0,0,0,0,2.0
2,0,0,7,7,0,1,0,59,3,1,...,0,NaN,NaN,0,2,75.0,0,0,0,1.0
3,0,0,13,7,0,1,0,59,2,0,...,0,304.0,NaN,0,2,75.0,0,0,0,1.0
4,0,0,14,7,0,2,0,59,6,3,...,0,240.0,NaN,0,2,98.0,0,1,0,2.0

In [14]:
#encoding both agent and company code

data['agent_encoded'] = data['agent'].notnull()
data['company_encoded'] = data['company'].notnull()
data["agent_encoded"] = data["agent_encoded"].astype(int)
data["company_encoded"] = data["company_encoded"].astype(int)
data=data.drop(['agent','company'],axis = 1)

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118902 entries, 0 to 119389
Data columns (total 26 columns):
hotel                             118902 non-null int64
is_canceled                       118902 non-null int64
lead_time                         118902 non-null int64
arrival_date_month                118902 non-null int64
stays_in_weekend_nights           118902 non-null int64
stays_in_week_nights              118902 non-null int64
meal                              118902 non-null int32
country                           118902 non-null int32
market_segment                    118902 non-null int32
distribution_channel              118902 non-null int32
is_repeated_guest                 118902 non-null int64
previous_cancellations            118902 non-null int64
previous_bookings_not_canceled    118902 non-null int64
reserved_room_type                118902 non-null int32
assigned_room_type                118902 non-null int32
booking_changes                   118902 non-null int64
deposit_type                      118902 non-null int32
days_in_waiting_list              118902 non-null int64
customer_type                     118902 non-null int32
adr                               118902 non-null float64
required_car_parking_spaces       118902 non-null int64
total_of_special_requests         118902 non-null int64
is_family                         118902 non-null int64
total_customer                    118902 non-null float64
agent_encoded                     118902 non-null int32
company_encoded                   118902 non-null int32
dtypes: float64(2), int32(10), int64(14)
memory usage: 20.0 MB

In [16]:
# features
X = data.drop(["is_canceled"], axis=1)

# target
y = data['is_canceled']

In [17]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118902 entries, 0 to 119389
Data columns (total 25 columns):
hotel                             118902 non-null int64
lead_time                         118902 non-null int64
arrival_date_month                118902 non-null int64
stays_in_weekend_nights           118902 non-null int64
stays_in_week_nights              118902 non-null int64
meal                              118902 non-null int32
country                           118902 non-null int32
market_segment                    118902 non-null int32
distribution_channel              118902 non-null int32
is_repeated_guest                 118902 non-null int64
previous_cancellations            118902 non-null int64
previous_bookings_not_canceled    118902 non-null int64
reserved_room_type                118902 non-null int32
assigned_room_type                118902 non-null int32
booking_changes                   118902 non-null int64
deposit_type                      118902 non-null int32
days_in_waiting_list              118902 non-null int64
customer_type                     118902 non-null int32
adr                               118902 non-null float64
required_car_parking_spaces       118902 non-null int64
total_of_special_requests         118902 non-null int64
is_family                         118902 non-null int64
total_customer                    118902 non-null float64
agent_encoded                     118902 non-null int32
company_encoded                   118902 non-null int32
dtypes: float64(2), int32(10), int64(13)
memory usage: 19.1 MB

### Basic Decision Tree

In [18]:
from sklearn.model_selection import train_test_split
# split into training and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=420)

In [19]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, auc_roc_score

model = DecisionTreeClassifier(criterion='gini', random_state=424)  
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
print("Accuracy: %.2f%%" % (accuracy * 100.0))
print("Precision: %.2f%%" % (precision * 100.0))
print("Recall: %.2f%%" % (recall * 100.0))
print("F1: %.2f%%" % (f1 * 100.0))

Accuracy: 84.10%
Precision: 77.89%
Recall: 80.15%
F1: 79.00%

In [20]:
y_proba = model.predict_proba(X_test)
roc_auc_score(y_test,np.transpose(y_proba)[1])

### Decision Tree with GridSearchCV

In [ ]:
from sklearn.model_selection import GridSearchCV
criterion = ['gini', 'entropy']
max_depth = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
params = {'max_leaf_nodes': list(range(2, 100)), 'min_samples_split': [2, 3, 4], 'max_depth': max_depth, 'criterion': criterion}
grid_search_cv = GridSearchCV(DecisionTreeClassifier(random_state=424), params, verbose=1, cv=5)
grid_search_cv.fit(X_train, y_train)

Fitting 5 folds for each of 5880 candidates, totalling 29400 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

In [ ]:
grid_search_cv.best_params_

In [ ]:
model = DecisionTreeClassifier(criterion='gini', max_leaf_nodes=99, max_depth=20, min_samples_split=2)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
print("Accuracy: %.2f%%" % (accuracy * 100.0))
print("Precision: %.2f%%" % (precision * 100.0))
print("Recall: %.2f%%" % (recall * 100.0))
print("F1: %.2f%%" % (f1 * 100.0))

### Decision Tree with Scaling

In [ ]:
# create copy of DF for scaling
X_scaled = X.copy()

In [ ]:
from sklearn.preprocessing import StandardScaler

columns_to_scale = ['lead_time', 'stays_in_weekend_nights', 'stays_in_week_nights',
                    'previous_cancellations', 'previous_bookings_not_canceled',
                    'booking_changes', 'days_in_waiting_list', 'adr', 'required_car_parking_spaces',
                    'total_of_special_requests', 'total_customer']

remaining_columns = [x for x in X_scaled.columns if x not in columns_to_scale]


# Scale columns
scaler = StandardScaler()

X_scaled[columns_to_scale] = scaler.fit_transform(X_scaled[columns_to_scale]) # to learn mean and standard dev to be used for scaling

In [ ]:
# Train Test Split with Scaling
X_scaled_train, X_scaled_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=420)

In [ ]:
model = DecisionTreeClassifier(criterion='gini', random_state=424)  
model.fit(X_scaled_train, y_train)
y_pred = model.predict(X_scaled_test)
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
print("Accuracy: %.2f%%" % (accuracy * 100.0))
print("Precision: %.2f%%" % (precision * 100.0))
print("Recall: %.2f%%" % (recall * 100.0))
print("F1: %.2f%%" % (f1 * 100.0))

In [ ]:
y_proba = model.predict_proba(X_scaled_test)
roc_auc_score(y_test,np.transpose(y_proba)[1])

### Decision Tree with Scaling and PCA

In [ ]:
X_pca = X_scaled.copy()

In [ ]:
from sklearn.decomposition import PCA

# 11 randomly chosen, might want to change number of principle components
n = 11 
pca = PCA(n_components=n, random_state=69)
pca_components = pca.fit_transform(X_pca)
print('explained var ratio', pca.explained_variance_ratio_)
print('sum', sum(pca.explained_variance_ratio_))

columns = []
for i in range(n):
    x = "pc" + str(i)
    columns.append(x)

# convert numpy array to dataframe
X_pca = pd.DataFrame(pca_components, columns=columns)
X_pca

In [ ]:
# Train Test Split with Scaling and PCA
X_pca_scaled_train, X_pca_scaled_test, y_train, y_test = train_test_split(X_pca, y, test_size=0.2, random_state=420)

In [ ]:
model = DecisionTreeClassifier(criterion='gini', random_state=424)  
model.fit(X_pca_scaled_train, y_train)
y_pred = model.predict(X_pca_scaled_test)
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
print("Accuracy: %.2f%%" % (accuracy * 100.0))
print("Precision: %.2f%%" % (precision * 100.0))
print("Recall: %.2f%%" % (recall * 100.0))
print("F1: %.2f%%" % (f1 * 100.0))